*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #f9efea;
  color: #2b2b2a;
  margin: 0 20px;
  padding: 0;
  font-family: "Antic Didone", serif;
  line-height: 2;
  background-size: contain;
  background-repeat: space;
  background-position: center;
}

.highlight-name {
  background-color: rgba(231, 231, 144, 0.877) !important;
}

.highlight-place {
  background-color: rgba(209, 78, 78, 0.811) !important;
}

.highlight-concept {
  background-color: rgba(97, 97, 212, 0.845) !important;
}

body,
a:hover {
  cursor: url(/img/Arrow.cur), url(/img/Arrow.cur), progress !important;
}

a {
  text-decoration: none;
}

h3 {
  font-family: "Rochester", cursive;
  font-size: 3rem;
}

p::first-letter {
  font-size: 250%;
  color: #82827e;
  font-weight: bold;
}

.article-inside-container {
  border-style: solid;
  border-width: 20px;
  border-image-source: url("/img/hr-for-article.png");
  border-image-slice: 40;
  border-image-repeat: round;
  border-image-width: 30px 5px 0;
}
