@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");


*, *::before, *::after {
    box-sizing:border-box;
} 

body{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    background-color: black;
}

.section-part{
    height: 100vh;
    background-size:cover;
    color:#deadad;
}

/*header part */

header {
    background-image: url("img/homepageImg.jpeg");
}

.title{
    display:inline-block;
    margin-top:1em;
    margin-left:2.3em;
    font-weight: 700;
    font-size: 150px;


    background-color: #CA4246;
   background-image: linear-gradient(
        45deg,
        #463838 16.666%, 
        #3D0000 16.666%, 
        #8c1a1a 33.333%, 
        #b72626 33.333%, 
        #7a6e61 50%, 
        #721e1e 50%, 
        #3D0000 66.666%, 
        #972727 66.666%, 
        #c95b5f 83.333%, 
        #3b3737 83.333%);
  
  background-size: 100%;
  background-repeat: repeat;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  
animation: rainbow-text-simple-animation-rev 0.75s ease forwards;


}


.title:hover{
    animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}

@keyframes rainbow-text-simple-animation-rev {
    0% {
        background-size: 650%;
    }
    40% {
        background-size: 650%;
    }
    100% {
        background-size: 100%;
    }
}

@keyframes rainbow-text-simple-animation {
    0% {
        background-size: 100%;
    }
    80% {
        background-size: 650%;
    }
    100% {
        background-size: 650%;
    }
}


.subtitile{
    font-size: 40px;
    text-align: end;
    margin-right:1em;
    margin-top:-1em;

  }


.container {
    width:100%;
    max-width: 1350px;
    position:relative;
    display: flex;
    margin: 0 auto;
    justify-content: end;
}


nav {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:2em;
    z-index:9;
    transition: 0.7s;
    
}


nav a {
    text-decoration: none;
    font-size: 1em;
    transition: 0.3s;
    font-weight: 700;
    color:#fff;
}

nav .fa-bars {
    display:flex;
    font-size:2em;
    cursor:pointer;
    transition: 0.3s;
}

nav .fa-bars:hover{
    font-size:2.5em;
}

.menu{
    background-color: black;
    font-size:2.5em;
     position:fixed; 
    top:0;
    left:0;
    width:100%;
    opacity:0; 
    transition:
        0.7s
        cubic-bezier(
            .74, -0.03, .83, .67
        );
        overflow-y: hidden;

}
 
.menu ul {
    margin:-2em auto; 
    list-style-type: none;
    padding:0;
}

.menu li {
    width: fit-content;
    margin:1em 0;
    background: linear-gradient(0deg, rgb(86, 85, 85), rgb(239, 239, 239)) no-repeat right bottom / 0 var(--bg-h);
  transition: background-size 350ms;
  --bg-h: 100%;
  padding-bottom: 2px;
  --bg-h: 2px;
}

.menu li:hover {
    background-size: 100% var(--bg-h);
    background-position-x: left;
    font-size:120%;
}

.menu > div {
    height:100%;
    overflow-y: scroll;
    padding-top:2em;
    margin-left:1em;
}



.menu > div ::-webkit-scrollbar{
    display:none;
}

/* classes for js*/
.menu-open {
    height:90vh;
    opacity: 1;
}

.menu-btn-scroll {
    background-color: white;
    width: auto;
    border-radius: 100%;
    color:black;
    padding:0.4em;
    
}

/* intro part */

.home-section {
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap:100px;
    padding-top:15em;
}



.img-container{
    width: 400px;
    height:400px;
    display:inline-block;
}

.img-container img {
    width:100%;
    height:100%;
    border-radius: 100%;
}

.intro-container{
    margin-top:5em;
    text-align: center;
}


#intro {
    width:700px;
    height: 350px;
    font-size: 180%;
    line-height: 1.5;
}


.button-container{
    text-align: center;
    margin-top:20px;
}

.prev-btn,
.next-btn {
  color: rgb(138, 138, 138);
  opacity: 60%;
  font-size: 1.25rem;
  background: transparent;
  border-color: transparent;
  margin: 0 0.5rem;
  transition: all 0.3s linear;
  cursor: pointer;
}

.prev-btn:hover,.prev-btn:active,
.next-btn:hover,.next-btn:active {
  color: white;
  opacity: 100%;
}

.flourish-embed {
    width:50vw;
    align-items: center;
    margin:3em auto;
}


/* Footer */

.footer-p {
    margin:0;
    color:white;
    font-size: 12px;

}